body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


/* //////////Organization section style///////////// */


.organization {

    background-image: url(/images/donation7.jpg);
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-size: 100%;
}

.fundrise {
    font-size: 26px;
    width: 500px;
    color: Khaki;
    display: inline-block;
    text-align: center;

    margin-top: 18%;
    margin-left: 32%;
}

.working {
    color: #FAF0E6;
}


.contribute-btn {
    text-decoration: none;
    font-size: 24px;
    padding: 10px 32px;

    color: aliceblue;
    background-color: #FFD700;
    border-radius: 9px;
}



/* //////////////////////Contribute section///////////////////////////// */





/* ---------- today div including h2 h6 ------- */
.today {
    font-size: 23px;
    width: 500px;
    text-align: center;
    margin-top: 10%;
    margin-left: 32%;
}


/*----------------------Ammount Indicator -------------------------  */
.Hundred {
    font-size: 30px;
    text-align: center;
    background-color: #FFDEAD;
    color: black;
    width: 120px;
    padding: 20px 10px 20px 10px;
    border: 1px solid #696969;
    margin: 0;


}

/*  */
.two-hundred {
    font-size: 30px;
    text-align: center;
    background-color: #FFDEAD;
    color: black;
    width: 120px;
    padding: 20px 10px 20px 10px;
    margin-left: 2%;

}

.five-hundred {
    font-size: 30px;
    text-align: center;
    background-color: #FFDEAD;
    color: black;
    width: 120px;
    padding: 20px 10px 20px 10px;

    margin-left: 2%;
}

.one-thousand {
    font-size: 30px;
    text-align: center;
    background-color: #FFDEAD;
    color: black;
    width: 120px;
    padding: 20px 10px 20px 10px;

    margin-left: 2%;
}

.ten-thousand {
    font-size: 30px;
    text-align: center;
    background-color: #FFDEAD;
    color: black;
    width: 120px;
    padding: 20px 10px 20px 10px;

    margin-left: 2%;
}


/* -------------------------Ammount Indicator Display part----------------------- */

.flexi-container {
    display: flex;
    margin-left: 20%;

}